<form action="/search" method="get">
  <input type="text" name="query" placeholder="search for a student">
  <button>Search</button>
</form>

<%= form_tag('/search', method: 'get') do %>
<!--
  A form_tag renders an HTML form not backed by a model.
  Passing nil as the second parameter because it sets the value in the form
-->
  <%= text_field_tag(:query, nil ,:placeholder => 'Search for a student') %>
  <%= submit_tag 'Search' %>
<% end %>

<%= render 'results' %>