<form action="/search" method="get">
  <input type="text" name="query" placeholder="search for a student">
  <button>Search</button>
</form>

<%= form_tag('/search', method: 'get') do %>
  <%= text_field_tag(:query, nil, :placeholder => 'Search for a student') %>
  <%= submit_tag 'Search' %>
<% end %>

<%= render 'results' %>